# Enable the built-in certificate bundle for TLS server verification
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE=y
CONFIG_MBEDTLS_CERTIFICATE_BUNDLE_DEFAULT_FULL=y

# Enable SNTP for system time sync (required by OneNET token generation)
CONFIG_LWIP_SNTP_ENABLED=y

# ===== OneNET MQTT connection =====
CONFIG_MQTT_DRIVER_BROKER_URI="mqtt://studio-mqtt.heclouds.com:1883"
CONFIG_MQTT_DRIVER_ENABLE_ONENET_AUTH=y
CONFIG_MQTT_DRIVER_PRODUCT_ID="hMWmbY6XdU"
CONFIG_MQTT_DRIVER_DEVICE_NAME="ESP32_S3"
CONFIG_MQTT_DRIVER_DEVICE_KEY="Nll2UHhabGU0U0xiY1pXVFVMS0dKTW5GbFZHRmZ0SXA="
CONFIG_MQTT_DRIVER_TOKEN_VALID_SECONDS=3600
